<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Icons -->
        <link rel="shortcut icon" href="/assets/favicon.png">
        <!-- <link rel="icon" type="image/png" sizes="192x192" href="/assets/media/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/media/favicons/apple-touch-icon-180x180.png"> -->

        <!-- CSS -->
        <link rel="stylesheet" id="css-main" href="/assets/css/dashmix.min.css">


        <title>{{ .Title }}</title>
    </head>

        {{ template "header" .}}

        {{ template "index" .}}
    
        {{ template "footer" .}}

        </div> 
        <!-- End Page Container -->

        <script src="/assets/js/dashmix.app.min.js"></script>
    </body>
</html>